# The following files should be excluded from git
.env
__pycache__
historic_chicago_data_upload
.ipynb_checkpoints/
rds-ca-2015-us-east-2.pem
/.DS_Store
/Boundaries - Neighborhoods/
/env/.DS_Store
.DS_Store
__init__.py
