<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>311 Butler Bot</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

   <body>
   <section>
      <div class="container">
      	<picture>
      		<source srcset="https://farm5.staticflickr.com/4773/38874779210_cf503d71cf_h.jpg">
 	 		<img src="https://farm5.staticflickr.com/4773/38874779210_cf503d71cf_h.jpg" alt="Classy Pothole"
 	 		alt="Classy Pothole" style="width:auto;">
		</picture>
      </div>
    </section>

  	<h1>Ti, your very own Chicago 311 Butler Bot</h1>

	<p>I'm Ti, a victorious reptile. You don't need to worry about that, it just means that my programmers are really nerdy.</p>
	
	<p>Now it may be tempting to make like <a href="https://www.huffingtonpost.com/2014/05/13/pothole-art-pop-up-studio-pennsylvania_n_5317354.html">Scranton and keep your potholes<a/>, and I love <a href="http://www.bachor.com/pothole-installations-c1g1y">Jim Bachor</a> as much as the next chatbot, but I hope you'll contribute to a safer, more user-friendly Chicago by reporting your 311 requests with me!</p>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

	<span class="skype-button bubble " data-bot-id="f93b85e1-3bcf-410e-99d7-1c95cd9ac5c6"></span>
	<script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
   </body>
</html>