<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
       <!--  <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>311 Butler Bot</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


        <!-- Optional theme -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

   <body>
        <div id="potholeCarousel" class="carousel slide" data-ride="carousel" style="max-width: 80vw; margin: 2.5vw; height:auto; border:none; padding:10vw">
            <ol class="carousel-indicators">
                <li data-target="#potholeCarousel" data-slide-to="0" class>
                    ::before
                    ::after
                </li>
                <li data-target="#potholeCarousel" data-slide-to="1" class>
                    ::before
                    ::after
                </li>
                <li data-target="#potholeCarousel" data-slide-to="2" class>
                    ::before
                    ::after
                </li>
                <li data-target="#potholeCarousel" data-slide-to="3" class>
                    ::before
                    ::after
                </li>
                <li data-target="#potholeCarousel" data-slide-to="4" class>
                    ::before
                    ::after
                </li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" data-src="holder.js/800x400?auto=yes&bg=777&fg=555" alt="Classy Pothole" src="https://s-i.huffpost.com/gadgets/slideshows/349286/slide_349286_3731771_free.jpg" data-holder-rendered="true"> 
                    <div class="carousel-caption d-none d-md-block"> 
                        <h5>There's a better way to avoid service request fatigue.</h5>
                        <p>We promise.</p>  
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100" data-src="holder.js/800x400?auto=yes&bg=777&fg=555" src="https://s-i.huffpost.com/gadgets/slideshows/349286/slide_349286_3731777_free.jpg" alt="Cooler potholee">
                    <div class="carousel-caption d-none d-md-block" data-holder-rendered="true">
                        <h5>There's a better way to avoid service request fatigue.</h5>
                        <p>We promise.</p>  
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100" data-src="holder.js/800x400?auto=yes&bg=777&fg=555" src="https://s-i.huffpost.com/gadgets/slideshows/349286/slide_349286_3731774_free.jpg" alt="Barbie pothole" data-holder-rendered="true">
                     <div class="carousel-caption d-none d-md-block" >
                        <h5>There's a better way to avoid service request fatigue.</h5>
                        <p>We promise.</p>
                    </div>
                </div>

                 <div class="carousel-item">
                    <img class="d-block w-100" data-src="holder.js/800x400?auto=yes&bg=777&fg=555" src="https://s-i.huffpost.com/gadgets/slideshows/349286/slide_349286_3731773_free.jpg" alt="Yummy pothole" data-holder-rendered="true">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>There's a better way to avoid service request fatigue.</h5>
                        <p>We promise.</p>
                    </div>
                </div>

                <div class="carousel-item">
                      <img class="d-block w-100" data-src="holder.js/800x400?auto=yes&bg=777&fg=555" src="https://s-i.huffpost.com/gen/1793544/images/n-POTHOLE-ART-628x314.jpg" alt="Resourceful pothole" data-holder-rendered="true">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>There's a better way to avoid service request fatigue.</h5>
                        <p>We promise.</p>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#potholeCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                 <a class="carousel-control-next" href="#potholeCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
<!--             ::after -->
        <div>   
            <h1>Meet Ti, your very own Chicago 311 Butler Bot</h1>
            
            <p>Now it may be tempting to make like <a href="https://www.huffingtonpost.com/2014/05/13/pothole-art-pop-up-studio-pennsylvania_n_5317354.html">Scranton<a/> and keep your potholes, and Ti loves <a href="https://www.bachor.com/pothole-installations-c1g1y">Jim Bachor</a> as much as the next chatbot, but we hope you'll contribute to a safer, more user-friendly Chicago by reporting your 311 requests here!</p>

            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <div/>

    <span class="skype-button bubble " data-bot-id="f93b85e1-3bcf-410e-99d7-1c95cd9ac5c6"></span>
    <script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
   </body>
</html>