<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
       <!--  <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Chi, Chicago's Virtual Assistant</title>
        <style> body {background-image: url("static/background1.png");}
        </style>

        <div>
            <span class="skype-button bubble " data-bot-id="f93b85e1-3bcf-410e-99d7-1c95cd9ac5c6"></span>
            <script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
        <div/>
   </body>
</html>
