<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>311 Butler Bot</title>

	<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
   <body>
   <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="mt-5">The Big Picture</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente repellat esse, doloremque quod recusandae deleniti nostrum assumenda vel beatae sed aut modi nesciunt porro quisquam voluptatem.</p>
          </div>
        </div>
      </div>
    </section>

  	<h1>Ti, your very own Chicago 311 Butler Bot</h1>
  	
	<p>I'm Ti, a victorious reptile. You don't need to worry about that, it just means that my programmers are really nerdy.</p>
	
	<p>Now it may be tempting to make like <a href="https://www.huffingtonpost.com/2014/05/13/pothole-art-pop-up-studio-pennsylvania_n_5317354.html">Scranton and keep your potholes<a/>, and I love <a href="http://www.bachor.com/pothole-installations-c1g1y">Jim Bachor</a> as much as the next chatbot, but I hope you'll contribute to a safer, more user-friendly Chicago by reporting your 311 requests with me!</p>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

<span class="skype-button bubble " data-bot-id="f93b85e1-3bcf-410e-99d7-1c95cd9ac5c6"></span>
<script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
   </body>
</html>